<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="logs/logsServicioBackground.log"
            layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=ToString,StackTrace}" />
  </targets>

  <rules>
    <!-- Excluir logs de Microsoft.AspNetCore.Hosting.Diagnostics -->
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Trace" final="true" />
    <!-- Solo permitir logs de ServicioBackground.Logging.NLogLogger -->
    <logger name="ServicioBackground.Logging.NLogLogger" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
